.color_efcd60{
    background-color:#efcd60;
}
.color_b0c466{
    background-color:#b0c466;
}
.color_97ffdc{
    background-color:#97ffdc;
}
.color_ea8dfdc{
    background-color:#a8dfdc;
}
.color_8dc6cb{
    background-color:#8dc6cb;
}
.color_2a2a3f{
    background-color:#2a2a3f;
}
.color_474747{
    background-color:#474747;
}
.color_bfbfbf{
    background-color:#bfbfbf;
}